$header-height: 42px;
$border-color: #c0c0c0;
$toolbar-height: 52px;
$formula-height: $header-height;
$default-fz: 20px;
$info-cell-width: 40px;
$row-height: 24px;
$info-cell-background: ghostwhite;
$cell-width: 120px;
$dashboard-header-height: 64px;